# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Paulo Ricardo\Desktop\Pós Graduação\TECNOLOGIAS BACKEND\webserver_mongodb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
